<div class="todo-item view" [hidden]="todoService.state.editing == todo">
    <label [class.completed]="todo.completed == true">
        <content></content>
    </label>
    <button (click)="deleteMe(todo)"></button>
</div>
<div class="edit" [hidden]="todoService.state.editing != todo">
    <input type="text"
       [class.editing]="todoService.state.editing == todo"
       [todo-focus]="todoService.state.editing == todo"
       [value]="todo.content"
       (keyup)="doneEditing($event, todo)"
    />
</div>
