<footer class="todo-footer" [hidden]="todoService.count == 0">
    <span>
        <strong>{{ todoService.remainingCount }}</strong>
        {{ utils.pluralize(todoService.remainingCount, 'item') }} left
      </span>

    <ul>
        <li>
            <a href="/#/"
                (click)="changeFilter('all', $event)"
                [class.selected]="currentFilter == 'all'">
                All
            </a>
        </li>
        <li>
            <a href="#/active"
                (click)="changeFilter('active', $event)"
                [class.selected]="currentFilter == 'active'">
                Active
            </a>
        </li>
        <li>
            <a href="/#/completed"
                (click)="changeFilter('completed', $event)"
                [class.selected]="currentFilter == 'completed'">
                Completed
            </a>
        </li>
    </ul>

    <button
        [hidden]="todoService.completedCount == 0"
        (click)="clearCompleted()">Clear completed ({{ todoService.completedCount }})</button>
</footer>