<footer class="todo-footer" [hidden]="todoService.count == 0">
    <span>
        <strong>{{ todoService.remainingCount }}</strong>
        {{ pluralize(todoService.remainingCount, 'item') }} left
      </span>

    <ul>
        <li>
            <a href="https://gdi2290.net/angular2do/#/"
            (click)="changeFilter('all', $event)"
            [class.selected]="currentFilter == 'all'">
                All
            </a>
        </li>
        <li>
            <a href="https://gdi2290.net/angular2do/#/active"
            (click)="changeFilter('active', $event)"
            [class.selected]="currentFilter == 'active'">
                Active
            </a>
        </li>
        <li>
            <a href="https://gdi2290.net/angular2do/#/completed"
            (click)="changeFilter('completed', $event)"
            [class.selected]="currentFilter == 'completed'">
                Completed
            </a>
        </li>
    </ul>

    <button
        [hidden]="todoService.completedCount == 0"
        (click)="clearCompleted()">Clear completed ({{ todoService.completedCount }})</button>
</footer>