<section class="todo-main" [hidden]="todoService.count == 0">
    <ul>
        <li *for="#todo of getList()"
            [class.editing]="todoService.state.editing == todo"
            [class.completed]="todo.completed == true">

            <input type="checkbox"
                   [hidden]="todoService.state.editing == todo"
                   [checked]="todo.completed == true"
                   (click)="toggleComplete(todo)"/>

            <todo-item [value]="todo">{{ todo.content }} <span class="small">{{todo.created_at}}</span></todo-item>
        </li>
    </ul>

</section>


